
<table class="tx-transition-tools" >
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.uuid" />
		</td>
		<td>
		{date.uuid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.source_id" />
		</td>
		<td>
		{date.sourceId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.start" />
		</td>
		<td>
		{date.start -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.end" />
		</td>
		<td>
		{date.end -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.description" />
		</td>
		<td>
		{date.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.contact" />
		</td>
		<td>
		{date.contact}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.weblink" />
		</td>
		<td>
		{date.weblink -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.min_registrations" />
		</td>
		<td>
		{date.minRegistrations}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.max_registrations" />
		</td>
		<td>
		{date.maxRegistrations}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.has_waiting_list" />
		</td>
		<td>
		{date.hasWaitingList}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_date.fee" />
		</td>
		<td>
		{date.fee}
		</td>
	</tr>
</table>