
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Date</h1>

<f:flashMessages />

<table  class="tx_transitiontools" >
	<tr>
		<th><f:translate key="tx_transitiontools_domain_model_date.uuid" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.source_id" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.start" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.end" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.description" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.contact" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.weblink" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.min_registrations" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.max_registrations" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.has_waiting_list" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_date.fee" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{dates}" as="date">
		<tr>
			<td><f:link.action action="show" arguments="{date : date}"> {date.uuid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.sourceId}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.start -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.end -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.contact}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.weblink -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.minRegistrations}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.maxRegistrations}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.hasWaitingList}</f:link.action></td>
			<td><f:link.action action="show" arguments="{date : date}"> {date.fee}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{date : date}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{date : date}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Date</f:link.action>
</f:section>