{namespace vh=TransitionTeam\TransitionTools\ViewHelpers}

<div class="initiative {vh:category.cssClasses(categories:initiative.categories)}">
    <div class="initiative-left">
        <f:render partial="Initiative/Logo" arguments="{initiative:initiative}" />
    </div>
    <div class="initiative-body">
        <h4 class="initiative-heading">{initiative.name}</h4>
        <f:if condition="{initiative.claim}">
            <p>{initiative.claim}</p>
        </f:if>
        <p>{initiative.description -> f:format.raw()}</p>
        <div class="initiative-links">
            <button class="btn-link initiative-show-more">
                <i class="fa fa-chevron-circle-down"></i>
                <f:translate key="tx_transitiontools_template.showMore" />
            </button>
            <f:if condition="{initiative.webLink}">
                <f:link.typolink parameter="{initiative.webLink}" additionalParams="{referer:'{f:uri.page}'}" target="_blank">
                    <i class="fa fa-globe"></i>
                    <f:translate key="tx_transitiontools_templates.webLink" />
                </f:link.typolink>
            </f:if>
            <f:if condition="{settings.initiativeMapPid}">
                <f:if condition="{initiative.venues}">
                    <f:link.page pageUid="{settings.initiativeMapPid}" additionalParams="{tx_transitiontools_initiatives:{initiative:initiative.uuid}}" noCacheHash="1">
                        <i class="fa fa-map-marker"></i>
                        <f:translate key="tx_transitiontools_templates.mapLink" />
                    </f:link.page>
                </f:if>
            </f:if>
        </div>
    </div>
    <!-- Tbd: List linked categories -->
</div>
