
<div class="media initiative initiative-{topCategory.name}">
    <a class="media-left" href="">
        <img class="media-object" src="http://www.placehold.it/100x100" alt="Generic placeholder image">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{initiative.name}</h4>
        <p>{initiative.claim}</p>
        <p>{initiative.description -> f:format.raw()}</p>
        <div class="clearfix"></div>
        <div class="initiative-links">
            <a href="#"><f:translate key="tx_transitiontools_templates.webLink" /></a>
            <a href="#"><f:translate key="tx_transitiontools_templates.mapLink" /></a>
        </div>
    </div>
</div>
