
<label for="name">
	<f:translate key="tx_transitiontools_domain_model_initiative.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="claim">
	<f:translate key="tx_transitiontools_domain_model_initiative.claim" />
</label><br />
	<f:form.textfield property="claim" /><br />
<label for="description">
	<f:translate key="tx_transitiontools_domain_model_initiative.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="webLink">
	<f:translate key="tx_transitiontools_domain_model_initiative.web_link" />
</label><br />
	<f:form.textfield property="webLink" /><br />
<label for="logo">
	<f:translate key="tx_transitiontools_domain_model_initiative.logo" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />