
<table class="tx-transition-tools" >
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_initiative.uuid" />
		</td>
		<td>
		{initiative.uuid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_initiative.name" />
		</td>
		<td>
		{initiative.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_initiative.claim" />
		</td>
		<td>
		{initiative.claim}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_initiative.description" />
		</td>
		<td>
		{initiative.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_initiative.web_link" />
		</td>
		<td>
		{initiative.webLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_initiative.logo" />
		</td>
		<td>
				<f:image src="{initiative.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>