/* Categories overview */
.c-category-list > .c-category-list__item {
    min-height: 180px;
    display: block;
}
.c-category__label {
    display: block;
}
.c-category__icon {
    display: block;
    width: 100px;
    height: 100px;
}
.c-category-list__item > a {
    width: 100%;
} 
.c-category-list__item > img, 
.c-category-list__item > ul {
    float: left;
}
.c-category-list__item > ul {
    font-size: 80%;
    display: none;
}
.c-category-list__item:hover > ul {
    display: block
}
.initiative-category:last-child .category-separator {
    display: none;
}
ul.initiative-categories {
    padding-left: 0;
}
li.initiative-category {
    list-style: none;
}