
<label for="name">
	<f:translate key="tx_transitiontools_domain_model_event.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_transitiontools_domain_model_event.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="weblink">
	<f:translate key="tx_transitiontools_domain_model_event.weblink" />
</label><br />
	<f:form.textfield property="weblink" /><br />
<label for="location">
	<f:translate key="tx_transitiontools_domain_model_event.location" />
</label><br />
	<f:form.textfield property="location" /><br />