
<table class="tx-transition-tools" >
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_event.name" />
		</td>
		<td>
		{event.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_event.description" />
		</td>
		<td>
		{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_event.weblink" />
		</td>
		<td>
		{event.weblink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_event.location" />
		</td>
		<td>
		{event.location}
		</td>
	</tr>
</table>