
<table class="tx-transition-tools" >
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_venue.uuid" />
		</td>
		<td>
		{venue.uuid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_venue.source_id" />
		</td>
		<td>
		{venue.sourceId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_venue.type" />
		</td>
		<td>
		{venue.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_venue.loc_latitude" />
		</td>
		<td>
		{venue.locLatitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_venue.loc_longitude" />
		</td>
		<td>
		{venue.locLongitude}
		</td>
	</tr>
</table>