.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 8px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
#pageContent {
  margin-top: 30px;
  margin-bottom: 70px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
#pageContent h1 {
  margin: 10px 0;
}
#pageContent article.section:not(.colPos4) {
  margin-bottom: 60px;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap[data-csc-cols="1"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap[data-csc-cols="1"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap[data-csc-cols="1"] .csc-textpic-imagecolumn {
  width: 100%;
  margin-right: 0;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap[data-csc-cols="2"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap[data-csc-cols="2"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap[data-csc-cols="2"] .csc-textpic-imagecolumn {
  width: 48%;
  margin-right: 2%;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap[data-csc-cols="3"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap[data-csc-cols="3"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap[data-csc-cols="3"] .csc-textpic-imagecolumn {
  width: 31%;
  margin-right: 3.495%;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap[data-csc-cols="4"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap[data-csc-cols="4"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap[data-csc-cols="4"] .csc-textpic-imagecolumn {
  width: 23%;
  margin-right: 2.667%;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap[data-csc-cols="5"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap[data-csc-cols="5"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap[data-csc-cols="5"] .csc-textpic-imagecolumn {
  width: 18%;
  margin-right: 2.5%;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap[data-csc-cols="6"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap[data-csc-cols="6"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap[data-csc-cols="6"] .csc-textpic-imagecolumn {
  width: 14%;
  margin-right: 3.2%;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap {
  width: 100%;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap .csc-textpic-imagerow,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap .csc-textpic-imagerow,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap .csc-textpic-imagerow {
  max-width: 100%;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap .csc-textpic-imagerow .csc-textpic-imagecolumn .csc-textpic-image,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap .csc-textpic-imagerow .csc-textpic-imagecolumn .csc-textpic-image,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap .csc-textpic-imagerow .csc-textpic-imagecolumn .csc-textpic-image {
  display: block;
  margin-bottom: 9%;
}
#pageContent article.section .csc-textpic-center div.csc-textpic-imagewrap .csc-textpic-imagerow .csc-textpic-imagecolumn.csc-textpic-lastcol,
#pageContent article.section .csc-textpic-right div.csc-textpic-imagewrap .csc-textpic-imagerow .csc-textpic-imagecolumn.csc-textpic-lastcol,
#pageContent article.section .csc-textpic-left div.csc-textpic-imagewrap .csc-textpic-imagerow .csc-textpic-imagecolumn.csc-textpic-lastcol {
  margin-right: 0;
}
#pageContent article.section .csc-textpic-intext-left div.csc-textpic-imagewrap[data-csc-cols="1"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right div.csc-textpic-imagewrap[data-csc-cols="1"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap[data-csc-cols="1"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap[data-csc-cols="1"] .csc-textpic-imagecolumn {
  width: 100%;
  margin-right: 0;
}
#pageContent article.section .csc-textpic-intext-left div.csc-textpic-imagewrap[data-csc-cols="2"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right div.csc-textpic-imagewrap[data-csc-cols="2"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap[data-csc-cols="2"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap[data-csc-cols="2"] .csc-textpic-imagecolumn {
  width: 48%;
  margin-right: 2%;
}
#pageContent article.section .csc-textpic-intext-left div.csc-textpic-imagewrap[data-csc-cols="3"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right div.csc-textpic-imagewrap[data-csc-cols="3"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap[data-csc-cols="3"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap[data-csc-cols="3"] .csc-textpic-imagecolumn {
  width: 31%;
  margin-right: 3.495%;
}
#pageContent article.section .csc-textpic-intext-left div.csc-textpic-imagewrap[data-csc-cols="4"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right div.csc-textpic-imagewrap[data-csc-cols="4"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap[data-csc-cols="4"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap[data-csc-cols="4"] .csc-textpic-imagecolumn {
  width: 23%;
  margin-right: 2.667%;
}
#pageContent article.section .csc-textpic-intext-left div.csc-textpic-imagewrap[data-csc-cols="5"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right div.csc-textpic-imagewrap[data-csc-cols="5"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap[data-csc-cols="5"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap[data-csc-cols="5"] .csc-textpic-imagecolumn {
  width: 18%;
  margin-right: 2.5%;
}
#pageContent article.section .csc-textpic-intext-left div.csc-textpic-imagewrap[data-csc-cols="6"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right div.csc-textpic-imagewrap[data-csc-cols="6"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap[data-csc-cols="6"] .csc-textpic-imagecolumn,
#pageContent article.section .csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap[data-csc-cols="6"] .csc-textpic-imagecolumn {
  width: 14%;
  margin-right: 3.2%;
}
#pageContent article.section .csc-textpic-intext-left div.csc-textpic-imagewrap,
#pageContent article.section .csc-textpic-intext-right div.csc-textpic-imagewrap,
#pageContent article.section .csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap,
#pageContent article.section .csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap {
  max-width: 50%;
}
#pageContent .teaser-home {
  padding: 10px;
}
#pageContent .teaser-home > div {
  height: 100%;
  padding: 20px;
  /*      border: 1px solid @brand-primary;
      border-radius: @border-radius-base;*/
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
