
<label for="uuid">
	<f:translate key="tx_transitiontools_domain_model_registration.uuid" />
</label><br />
	<f:form.textfield property="uuid" /><br />
<label for="sourceId">
	<f:translate key="tx_transitiontools_domain_model_registration.source_id" />
</label><br />
	<f:form.textfield property="sourceId" /><br />
<label for="comment">
	<f:translate key="tx_transitiontools_domain_model_registration.comment" />
</label><br />
	<f:form.textfield property="comment" /><br />
<label for="registrationStatus">
	<f:translate key="tx_transitiontools_domain_model_registration.registration_status" />
</label><br />
	<f:form.textfield property="registrationStatus" /><br />
<label for="fee">
	<f:translate key="tx_transitiontools_domain_model_registration.fee" />
</label><br />
	<f:form.textfield property="fee" /><br />
<label for="paymentStatus">
	<f:translate key="tx_transitiontools_domain_model_registration.payment_status" />
</label><br />
	<f:form.textfield property="paymentStatus" /><br />