
<table class="tx-transition-tools" >
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_registration.uuid" />
		</td>
		<td>
		{registration.uuid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_registration.comment" />
		</td>
		<td>
		{registration.comment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_registration.registration_status" />
		</td>
		<td>
		{registration.registrationStatus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_registration.fee" />
		</td>
		<td>
		{registration.fee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_transitiontools_domain_model_registration.payment_status" />
		</td>
		<td>
		{registration.paymentStatus}
		</td>
	</tr>
</table>