{namespace vh=TransitionTeam\TransitionTools\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

    <f:for each="{categoryTree}" as="topCategory">
        <div class="media category {vh:category.cssClasses(categories:topCategory.item)}" id="{topCategory.item.name}">
            <div class="media-left">
                <f:link.page pageUid="{settings.projectListPid}" additionalParams="{category:{uid:topCategory.item.uid, name:topCategory.item.name}}" noCacheHash="1">
                    <f:image
                        image="{topCategory.item.image}"
                        alt="{topCategory.item.image.originalResource.title}"
                        treatIdAsReference="TRUE"
                    />
                </f:link.page>
            </div>
            <div class="media-body">
                <h4 class="media-heading category-heading category-heading-centered">
                    {topCategory.item.title}
                </h4>
                <ul class="subcategories">
                <f:for each="{topCategory.subCategories}" as="subCategory">
                    <li>
                        <f:link.page pageUid="{settings.projectListPid}" additionalParams="{category:{uid:subCategory.uid, name:subCategory.name}}" noCacheHash="1">
                            {subCategory.title}
                        </f:link.page>
                    </li>
                </f:for>
                </ul>
            </div>
        </div>
    </f:for>

</f:section>
