
<f:layout name="Default" />

<f:section name="main">

    <ul class="c-category-list">
        <li class="c-category-list__item">
            <a class="c-category__label" href="List.html?category=Nahrungsmittel">Nahrungsmittel</a>
            <img class="c-category__icon" src="fileadmin/user_upload/categories/1_food.png">
            <ul>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Restaurant, Café, Bar</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Märkte</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Gartenprojekte</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Versand und Importe</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Foodwaste</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Selbstgemacht, Produzent, Kochveranstaltung</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Landwirtschaft</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Infos</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Laden, Hofladen</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Cooperativen, CSA</a></li>
            </ul>
        </li>
        <li class="c-category-list__item">
            <a class="c-category__label" href="List.html?category=">Wohnen und Mobilität</a>
            <img class="c-category__icon" src="fileadmin/user_upload/categories/2_housing_mobility.png">
            <ul>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Wohnen</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Velo</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Carsharing</a></li>
            </ul>
        </li>
        <li class="c-category-list__item">
            <a class="c-category__label" href="List.html?category=">Verantwortlicher Einkauf</a>
            <img class="c-category__icon" src="fileadmin/user_upload/categories/3_shopping.png">
            <ul>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Kleider</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Schuhe</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Accesoires</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Kosmetik</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Bücher, Druck</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Haushalt</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Reparieren, second-hand</a></li>
            </ul>
        </li>
        <li class="c-category-list__item">
            <a class="c-category__label" href="List.html?category=">Wirtschaft und Politik</a>
            <img class="c-category__icon" src="fileadmin/user_upload/categories/4_economy_politics.png">
            <ul>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Komplementaire Währungen</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Tausch-Netze</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Leihen, Verschenken</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Stadt Zürich</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Finanzdiensleister, Crowdfunding</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Politik</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Stiftungen</a></li>
            </ul>
        </li>
        <li class="c-category-list__item">
            <a class="c-category__label" href="List.html?category=">Information und Netzwerk</a>
            <img class="c-category__icon" src="fileadmin/user_upload/categories/5_info_network.png">
            <ul>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Veranstalter</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Medien, Wissen</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Netzwerke</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">NGOs</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Bildung</a></li>
            </ul>
        </li>
        <li class="c-category-list__item">
            <a class="c-category__label" href="List.html?category=">Umwelt, Energie und Abfall</a>
            <img class="c-category__icon" src="fileadmin/user_upload/categories/6_environment_energy_waste.png">
            <ul>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Energie</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Umwelt</a></li>
                <li class="c-category-list__item"><a class="c-category__label" href="List.html?category=">Abfall/Recycling</a></li>
            </ul>
        </li>
    </ul>

</f:section>
