
<f:layout name="Default" />

<f:section name="main">
    <div class="organizations-grid">
        <div class="organizations-grid-organization">
            <img src="http://www.placehold.it/100x100">
        </div>
        <div class="organizations-grid-organization">
            <img src="http://www.placehold.it/100x100">
        </div>
        <div class="organizations-grid-organization">
            <img src="http://www.placehold.it/100x100">
        </div>
        <div class="organizations-grid-organization">
            <img src="http://www.placehold.it/100x100">
        </div>
        <div class="organizations-grid-organization">
            <img src="http://www.placehold.it/100x100">
        </div>
        <div class="organizations-grid-organization">
            <img src="http://www.placehold.it/100x100">
        </div>
        <div class="organizations-grid-organization">
            <img src="http://www.placehold.it/100x100">
        </div>
        <div class="organizations-grid-organization">
            <img src="http://www.placehold.it/100x100">
        </div>
    </div>
</f:section>
