
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


<div class="media">
    <a class="media-left" href="">
        <img class="media-object" src="http://www.placehold.it/100x100" alt="Generic placeholder image">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Beispielorganisation</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <a href="">Website</a> | <a href="">auf Karte</a>
    </div>
</div>

</f:section>
