<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <f:if condition="{mainnavigation}">
                <button class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-main-collapse"
                        type="button">
                    <span class="sr-only">{f:translate(key:'LLL:EXT:theme_default/Resources/Private/Language/locallang.xlf:toggleNavigation')}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </f:if>
            <span class="navbar-header-border-bottom"></span>
        </div>
        <f:if condition="{mainnavigation}">
            <div class="navbar-collapse collapse"
                 id="navbar-main-collapse"
                 role="navigation">
                <ul class="nav navbar-nav">
                    <f:for each="{mainnavigation}" as="mainnavigationItem">
                        <li class="{f:if(condition: mainnavigationItem.active, then:'active')} {f:if(condition: mainnavigationItem.children, then:'dropdown')}">
                            <f:if condition="{mainnavigationItem.children}">
                                <f:then>
                                    <a class="dropdown-toggle"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       data-toggle="dropdown"
                                       href="#"
                                       role="button">
                                        {mainnavigationItem.title}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <f:for each="{mainnavigationItem.children}" as="child">
                                            <li class="{f:if(condition: child.active, then:'active')}">
                                                <f:link.page pageUid="{child.data.uid}" title="{child.title}">
                                                    {child.title}
                                                </f:link.page>
                                            </li>
                                       </f:for>
                                    </ul>
                                </f:then>
                                <f:else>
                                    <f:link.page pageUid="{mainnavigationItem.data.uid}" title="{mainnavigationItem.title}">
                                        {mainnavigationItem.title}
                                    </f:link.page>
                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </div>
</nav>

<f:comment>
    <!-- Original from boilerplate / bootstrap (from initializr.com) -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">{f:translate(key:'LLL:EXT:theme_default/Resources/Private/Language/locallang.xlf:toggleNavigation')}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <f:if condition="{settings.logo.file}">
                    <f:then>
                        <f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-image">
                            <img src="{f:uri.image(src: settings.logo.file)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                        </f:link.page>
                    </f:then>
                    <f:else>
                        <f:link.page pageUid="{rootPage}" class="navbar-brand">{siteTitle}</f:link.page>
                    </f:else>
                </f:if>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form" action="/">
                    <div class="form-group">
                        <input type="text" placeholder="{f:translate(key:'LLL:EXT:theme_default/Resources/Private/Language/locallang.xlf:email')}" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="{f:translate(key:'LLL:EXT:theme_default/Resources/Private/Language/locallang.xlf:password')}" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">{f:translate(key:'LLL:EXT:theme_default/Resources/Private/Language/locallang.xlf:signIn')}</button>
                </form>
            </div>
        </div>
    </nav>
</f:comment>
