{namespace vh=TransitionTeam\ThemeDefault\ViewHelpers}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <f:if condition="{mainnavigation}">
                <button class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-main-collapse"
                        type="button">
                    <span class="sr-only">{f:translate(key:'LLL:EXT:theme_default/Resources/Private/Language/locallang.xlf:toggleNavigation')}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </f:if>
            <span class="navbar-header-border-bottom"></span>
        </div>
        <f:if condition="{mainnavigation}">
            <div class="navbar-collapse collapse"
                 id="navbar-main-collapse"
                 role="navigation">
                <ul class="nav navbar-nav">
                    <f:for each="{mainnavigation}" as="mainnavigationItem">
                        <li class="{f:if(condition: mainnavigationItem.active, then:'active')} {f:if(condition: mainnavigationItem.children, then:'dropdown')}">
                            <f:if condition="{mainnavigationItem.children}">
                                <f:then>
                                    <a class="dropdown-toggle"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       data-toggle="dropdown"
                                       href="#"
                                       role="button">
                                        {mainnavigationItem.title}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <f:for each="{mainnavigationItem.children}" as="child">
                                            <li class="{f:if(condition: child.active, then:'active')}">
                                                <f:link.page pageUid="{child.data.uid}" title="{child.title}">
                                                    {child.title}
                                                </f:link.page>
                                            </li>
                                       </f:for>
                                    </ul>
                                </f:then>
                                <f:else>
                                    <f:link.page pageUid="{mainnavigationItem.data.uid}" title="{mainnavigationItem.title}">
                                        {mainnavigationItem.title}
                                    </f:link.page>
                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
				<form class="navbar-form navbar-right" action="{f:uri.page(pageUid:4)}" name="search" method="GET" >
					<div class="form-group">
						<input class="form-control" type="search" name="query" value="{vh:gP(name:'query')}" />
					</div>
					<button type="submit" class="btn btn-default">
						{f:translate(key:'LLL:EXT:theme_default/Resources/Private/Language/locallang.xlf:search')}
					</button>
				</form>
            </div>
        </f:if>
    </div>
</nav>
