// Global variables
// ==================================================

$footer-height: 50px;

$category-colors: (
    food: #c937b7,
    housing-mobility: #c96836,
    shopping: #36b7c9,
    economy-politics: #c93736,
    info-network: #b7c935,
    environment-energy-waste: #355bc9
);
