// Global variables
// ==================================================

$footer-height: 50px;

$category-colors: (
    food: #c937b7,
    living-mobility: #c96836,
    shopping: #36b7c9,
    economy: #c93736,
    events-media-networks: #b7c935,
    energy-environment-waste: #355bc9
);

$zindex-initiatives-box: $zindex-navbar-fixed - 1;
$zindex-footer: $zindex-initiatives-box - 1;
