.category-heading {
	line-height: 95px; // Img height - bottom margin of heading
}

.subcategories {
	display: none;
}

.category:hover .category-heading {
	line-height: normal;
}

.category:hover .subcategories {
	display: block;
}
