.leaflet-popup-content-wrapper {
	background-color: rgba(#fff, .8) !important;
	padding: 20px 10px 10px !important;
}

.leaflet-popup-tip {
	background-color: rgba(#fff, .8) !important;

}

.leaflet-popup-content {
	margin: 0 !important;
}
