$organization-text-color: #fff;

.organization {
    color: $organization-text-color;
    max-width: 700px;
    padding: 5px;
    position: relative;
}

.organization-links {
    float: right;
    margin-top: 5px;
}

.organization-links > a {
    color: $organization-text-color;

    &:hover {
        color: $brand-primary;
        text-decoration: none;
    }
}

.organization-links > a + a {
    border-left: 1px solid $organization-text-color;
    padding-left: 5px;
}
