
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for PartnerSystem</h1>

<f:flashMessages />

<table  class="tx_transitiontools" >
	<tr>
		<th><f:translate key="tx_transitiontools_domain_model_partnersystem.caption" /></th>
		<th><f:translate key="tx_transitiontools_domain_model_partnersystem.url" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{partnerSystems}" as="partnerSystem">
		<tr>
			<td><f:link.action action="show" arguments="{partnerSystem : partnerSystem}"> {partnerSystem.caption}</f:link.action></td>
			<td><f:link.action action="show" arguments="{partnerSystem : partnerSystem}"> {partnerSystem.url}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{partnerSystem : partnerSystem}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{partnerSystem : partnerSystem}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New PartnerSystem</f:link.action>
</f:section>